.data{
display: grid;
grid-template-columns: repeat(4,1fr);
padding: 10px;
margin-bottom: 1rem;
}
.header{
text-align: center;
  margin-bottom: 1rem;
}

.container{
max-width: 25rem;
}
.product-btn  {
background-color: #FD8D14;
transition: 1s;
border: none;
}
.product-btn:hover{
  transition: width 2s;
transition: 0.5s;
background-color: #FD8D14;

}

.card-main{
border: none;
max-width: 300px;
}
.card-main:hover{
box-shadow: 0 0 20px 0 #000;
cursor: pointer;
}

.login-container{
width: 25rem;
/* margin-left: 30rem; */
/* margin-top: 0.4rem; */

/* background-color: orange; */
}
.signup-container{
width: 25rem;
}
.rating{
position: absolute;
left: 12rem;
bottom: 3rem;
}
.star{
position: absolute  ;
bottom: 1rem;
left: 12rem;
font-size: 1rem;
}


/* @media(min-width:412px) {

.img-responsive{
width: 10px;
height: 100px;

}
} */


@media(min-width:2010px) {
.data{
grid-template-columns: repeat(5,1fr);
}
}
@media(max-width:510px) {
.data{
grid-template-columns: repeat(1,1fr);
align-items: center;
margin-left: 5rem;
margin-bottom: 1rem;
}
.card-main{
align-items: center;
}
}

















@media(min-width:280px) {
.card-main{
/* margin-left: -3rem; */
margin-bottom: 1rem;
}
.rating{
margin-left: -4.5rem;
font-size: 15px;
}
.form{
display: flex;
flex-direction: column;
/* max-width: 6rem; */
}
.login-input{
max-width: 13rem;
}
.lgn-btn{
margin-left:4rem;
}
}



@media(min-width:1024px) {
.card-main{
margin-bottom: 1rem;
}
.data{
gap: 1rem;
}
.rating{
margin-left: -4rem;
}
.login-container{
margin-left: 21rem;
}
.signup-container{
margin-left: 22rem;
}
}

@media(min-width:1280px) {
  .card-main{
  margin-bottom: 1rem;
  }
  .login-container{
  margin-left: 25rem;
  }
  .signup-container{
  margin-left: 28rem;
  }
}