.data{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 3rem;
padding: 10px;
}
.header{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.container{
  margin-top: 2.5rem;
max-width: 25rem;

}
.product-btn:hover{
color: #000;
}


.card-main{
border: none;
/* border-bottom: 10px solid #000; */
border-top:10px solid #000; ;
/* border-left:1px solid #000; ; */
/* border-right:1px solid #000; ; */

}
.card-main:hover{
  box-shadow: 0 0 20px 0 #000;
cursor: pointer;

}

.login-container{
width: 25rem;
margin-left: 30rem;
margin-top: 0.4rem;
/* background-color: orange; */
}
